.message-cloud {
  position: relative;
  align-items: flex-start;
  background-color: #e5e5ea;
  color: #000;

  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  border-radius: 10px;
  padding: 10px;
  word-break: break-word;
  max-width: 50vw;

  margin-bottom: 40px;

  &--from-them {
    &::before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 12px solid #e5e5ea;
      border-right: 12px solid transparent;
      border-top: 12px solid #e5e5ea;
      border-bottom: 12px solid transparent;
      left: 5px;
      bottom: -12px;
    }
  }

  &--from-me {
    &::before {
      content: "";
      width: 0px;
      height: 0px;
      position: absolute;
      border-left: 12px solid transparent;
      border-right: 12px solid #e5e5ea;
      border-top: 12px solid #e5e5ea;
      border-bottom: 12px solid transparent;
      right: 5px;
      bottom: -12px;
    }
  }
}

.messagesBox {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;

  width: 90%;
  height: 70vh;
  border: 1px solid gray;
  border-radius: 20px;

  overflow-y: auto;
  scroll-behavior: smooth;

  color: rgba(0, 0, 0, 0);
  -webkit-text-fill-color: black;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  transition: color .3s ease;

  &:hover {
    color: rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar,
  &::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
  }
  
  &::-webkit-scrollbar-thumb {        
    box-shadow: inset 0 0 0 10px;
  }
}

